<!-- TODO: Incorporate dropdown value change on click -->
<!-- http://stackoverflow.com/questions/13437446/how-to-display-selected-item-in-bootstrap-button-dropdown-title -->

<div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">State <span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu">
		<li value="AL"><a href="">Alabama</a></li>
		<li value="AK"><a href="">Alaska</a></li>
		<li value="AZ"><a href="">Arizona</a></li>
		<li value="AR"><a href="">Arkansas</a></li>
		<li value="CA"><a href="">California</a></li>
		<li value="CO"><a href="">Colorado</a></li>
		<li value="CT"><a href="">Connecticut</a></li>
		<li value="DE"><a href="">Delaware</a></li>
		<li value="DC"><a href="">District Of Columbia</a></li>
		<li value="FL"><a href="">Florida</a></li>
		<li value="GA"><a href="">Georgia</a></li>
		<li value="HI"><a href="">Hawaii</a></li>
		<li value="ID"><a href="">Idaho</a></li>
		<li value="IL"><a href="">Illinois</a></li>
		<li value="IN"><a href="">Indiana</a></li>
		<li value="IA"><a href="">Iowa</a></li>
		<li value="KS"><a href="">Kansas</a></li>
		<li value="KY"><a href="">Kentucky</a></li>
		<li value="LA"><a href="">Louisiana</a></li>
		<li value="ME"><a href="">Maine</a></li>
		<li value="MD"><a href="">Maryland</a></li>
		<li value="MA"><a href="">Massachusetts</a></li>
		<li value="MI"><a href="">Michigan</a></li>
		<li value="MN"><a href="">Minnesota</a></li>
		<li value="MS"><a href="">Mississippi</a></li>
		<li value="MO"><a href="">Missouri</a></li>
		<li value="MT"><a href="">Montana</a></li>
		<li value="NE"><a href="">Nebraska</a></li>
		<li value="NV"><a href="">Nevada</a></li>
		<li value="NH"><a href="">New Hampshire</a></li>
		<li value="NJ"><a href="">New Jersey</a></li>
		<li value="NM"><a href="">New Mexico</a></li>
		<li value="NY"><a href="">New York</a></li>
		<li value="NC"><a href="">North Carolina</a></li>
		<li value="ND"><a href="">North Dakota</a></li>
		<li value="OH"><a href="">Ohio</a></li>
		<li value="OK"><a href="">Oklahoma</a></li>
		<li value="OR"><a href="">Oregon</a></li>
		<li value="PA"><a href="">Pennsylvania</a></li>
		<li value="RI"><a href="">Rhode Island</a></li>
		<li value="SC"><a href="">South Carolina</a></li>
		<li value="SD"><a href="">South Dakota</a></li>
		<li value="TN"><a href="">Tennessee</a></li>
		<li value="TX"><a href="">Texas</a></li>
		<li value="UT"><a href="">Utah</a></li>
		<li value="VT"><a href="">Vermont</a></li>
		<li value="VA"><a href="">Virginia</a></li>
		<li value="WA"><a href="">Washington</a></li>
		<li value="WV"><a href="">West Virginia</a></li>
		<li value="WI"><a href="">Wisconsin</a></li>
		<li value="WY"><a href="">Wyoming</a></li>
	</ul>		
	</div>
	<input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->