<!-- not signed in -->

<div class="landing-top">
	<h1>Tagenger</h1>
	<h2>leave messages for drivers</h2>
</div>

<div class="container">
	<div class="landing-middle">
		<section id="sign-up" class="clearfix">
	    <h4 class="col-lg-12">Already a member? <a href="">Sign In</a></h4>
	    <div class="col-sm-4 border">
	      <form role="form" action="" method="post">
        	<h4 class="small-margin text-left"> Sign Up </h4>
          <div class="small-margin"><input type="text" id="tag" name="tag" class="form-control input-lg" placeholder="Your Tag #" required /></div>
          <div class="small-margin"><input type="text" id="email" name="email" class="form-control input-lg" placeholder="email" required /></div>
          <div class="small-margin"><input type="password" id="password" name="password" class="form-control input-lg" placeholder="password" required /></div>
          <div class="small-margin"><button class="btn btn-block btn-lg btn-theme">Sign Up</button></div>
	      </form>
      </div><!-- Sign Up -->  
      <div class="col-sm-8 border">
	      <ul id="landing-bullets" class="text-left">
	      	<li>Leave messages for other drivers anonymously</li>
	      	<li>Find messages that have been left for you</li>
	      	<li>Find messages that have been left for you</li>
	      </ul>
      </div>
    </section><!--subscribe--> 
  </div>
</div>