
  <div class="landing-middle">
    <section id="sign-up" class="clearfix">
    <h3> Your info </h3>
    <div class="well big-margin text-left">
    	<div>Name: Jordan S.</div>
    	<div>Tag: GA103582</div>
    </div>

    <h3>Received Messages</h3>
    <div class="well big-margin text-left">
	    	
	    	<div class="message"><span class="glyphicon glyphicon-user"></span> <span class="user">Gerry P. </span>says: Hey asshole, you cut me off this morning on Peachtree st.</div>
	    	<div class="message"><span class="glyphicon glyphicon-user"></span><span class="user">Jordan S. </span> says: Just wanted to let you know, you left your windows down.</div>
	   </div>
	   <h3>Sent Messages</h3>
    <div class="well big-margin text-left">
	    	
	    	<div class="message"><span class="glyphicon glyphicon-user"></span><span class="user">Gerry P.</span> says: Hey asshole, you cut me off this morning on Peachtree st.</div>
	    	<div class="message"><span class="glyphicon glyphicon-user"></span><span class="user">Jordan S. </span> says: Just wanted to let you know, you left your windows down.</div>
	   </div>
    </section>
  </div>