<div class="container">
  <div class="landing-middle">
    <section id="sign-up" class="clearfix">
			<form role="form" action="" method="post">
			<h3>PLEASE DON'T TEXT AND DRIVE</h3>
			<%= render 'shared/states' %></br>
				<div class="btn btn-default quick-message">A</div>
				<div class="btn btn-default quick-message">B</div>
				<div class="btn btn-default quick-message">C</div>
				<div class="btn btn-default quick-message">D</div>
				<div class="btn btn-default quick-message">E</div>
				<div class="btn btn-default quick-message">F</div>
			</br>
			<input class="form-control input-lg" type="textarea" name="message" placeholder="Enter your message here">
			<div class="small-margin"><button class="btn btn-block btn-lg btn-theme">Submit</button></div>
		</section>
	</div>
</div>