/* Mixins, variables, etc */
$white: #FFFFFF;
$lightGray: rgb(238,238,238);
$orange: #FF9900;
$lightOrange: #FCC879;
$darkOrange: #BA7B29;
$darkGray: #404040;
$grayMediumLight: #eaeaea;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* pages */
body {
	background: gray;
		margin:0;
	padding:0;
}

.container {
	margin:0;
	padding:0;
}
.navbar.navbar-default.newnav a {
	color: $orange;
}

.newnav {
	background: white;
	margin: 0;
	border: 0;
	border-radius:0;
}

.license-plate {
	background: white;
	border: 2px solid black;
	border-radius: 2px;
}

.landing-top, .landing-middle {
	text-align: center;
	background: $lightOrange;
	margin: 0;
	padding: 40px;

}

.landing-top h1 {
	font-size: 50px;
	color: $darkGray;
}

.landing-top h2 {
	color: $darkGray;
}

.landing-middle {
	background: gray;
}

#landing-bullets {
	font-size: 20px;
}

.inline {
	display: inline;
}

.border {
	border: 2px dashed green;
}

.textright {
	text-align: right;
}

.small-margin {
	margin: 10px;
}

.big-margin {
	margin: 20px 40px;
}

.quick-message {

	height: 100px;
	width: 100px;
	display: inline-block;
	border: 4px solid black;
	border-radius: 5px;
	font-size: 20px;
	margin: 20px;
}

.user {
	font-weight: bold;
}

.message {

}

.icon {
	display: inline-block;
  list-style: none;
  margin: 10px 0 15px 0;
  padding: 5px; /* If going with text under icons use 9px 10px 5px 10px; */
  line-height: 1.4em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 20px #444;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* .field_with_errors {
  @extend .control-group;
  @extend .error;
} */

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $lightGray;
    &:last-child {
      border-bottom: 1px solid $lightGray;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.left-pad {
	padding-left: 30px;
}